@model IEnumerable<Blog>

@foreach (var blog in Model) {
    <div class="card mb-2">
        <div class="card-header">
            <i class="btn btn-dark btn-sm fa fa-calendar"></i>  @blog.Date.ToString("dd.MMMM.yyyy dddd")
            <text class="float-right font-weight-bold">@blog.Category?.Name</text>
        </div>
        <a asp-controller="Blogs" asp-action="Detail" asp-route-id="@blog.Id">
            <img src="~/img/@blog.Image" class="card-img-top" alt="@blog.Title">
        </a>
        <div class="card-body font-weight-light">
            <h5 class="card-title">@blog.Title</h5>
            <hr />
            <p class="card-text font-italic">@blog.Description</p>
            <p class="card-text">@Html.Raw(blog.Body?.Length > 200 ? $"{blog.Body?.Substring(0, 200)}..." : blog.Body)</p>
            <a asp-controller="Blogs" asp-action="Detail" asp-route-id="@blog.Id" class="btn btn-dark btn-sm">
                Read more <i class="fa fa-play"></i>
            </a>
        </div>
    </div>
}